<<<<<<< HEAD
<h1>Lista de historicos</h1>
=======
<h1>Listing historicos</h1>
>>>>>>> cb708f07a760e00f6b8459d343ab03ecdae0aee4

<table>
  <thead>
    <tr>
      <th>Evento</th>
      <th>Observacao</th>
      <th>Data</th>
      <th>Remessa</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @historicos.each do |historico| %>
      <tr>
        <td><%= historico.evento %></td>
        <td><%= historico.observacao %></td>
        <td><%= historico.data %></td>
        <td><%= historico.remessa.codigorastreio %></td>
<<<<<<< HEAD
        <td><%= link_to 'Exibir', historico %></td>
        <td><%= link_to 'Editar', edit_historico_path(historico) %></td>
=======
        <td><%= link_to 'Show', historico %></td>
        <td><%= link_to 'Edit', edit_historico_path(historico) %></td>
>>>>>>> cb708f07a760e00f6b8459d343ab03ecdae0aee4
        <td><%= link_to 'Excluir', historico, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<<<<<<< HEAD
<%= link_to 'Novo Historico', new_historico_path %>
=======
<%= link_to 'New Historico', new_historico_path %>
>>>>>>> cb708f07a760e00f6b8459d343ab03ecdae0aee4
